video.vp-active {
    filter: grayscale(100%) brightness(50%) blur(10px) !important;
    transition: filter 0.1s ease-out !important;
}

.vp-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999; /* Peste durata videoului */
    padding: 4px 8px;
    border-radius: 4px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    pointer-events: none; /* Click prin */
}

.vp-badge-safe {
    background-color: #7c5aa4; /* Verde */
    border: 1px solid #967bb6;
}

.vp-badge-unknown {
    background-color: #662525; /* Rosu */
    border: 1px solid #b83f3f;
    opacity: 0.8;
}

.top-ad {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);  /* Adjust for perfect centering */
    z-index: 1000;       /* Ensure it appears on top */
    color: #b09cc8;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    background: #000;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #b09cc8;
}


/* Overlay-ul global care sta peste video */
#vp-overlay {
    position: fixed;
    z-index: 2147483647;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* ultima la background -> opacity la ecranul protective TODO: */
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(5px);
    pointer-events: none;
    border: 3px solid #b09cc8;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.2s;
}

#vp-status {
    color: #ccc;
    margin: 12px 100px 6px;
    font-size: 32px;
    text-align: center;
    display: block;
}

.vp-warning {
    color: #b09cc8;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    background: #000;
    padding: 10px 20px;
    border-radius: 5px;
}

.vp-ai-box {
    margin-top: 15px;
    padding: 15px;
    background: #222;
    color: #fff;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 14px;
    max-width: 80%;
    text-align: center;
    border-left: 4px solid #b09cc8;
}
